NEXT_PUBLIC_SUPABASE_URL=https://lvchpskxeohfmistppxl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Provedor de pagamento (a definir)
PAYMENT_PROVIDER_API_KEY=
PAYMENT_WEBHOOK_SECRET=
